{
    "ShopifySynchronizationFunction": {
        "INVENTORY_TABLE": "InventoryTable",
        "CONFIG_TABLE": "ConfigTable"
    },
    "DiscordNotificationFunction": {
        "DISCORD_API_PATH": "/api/webhooks/YOUR_API_WEBHOOK_SLUG"
    }
}
